h1 Bears

.post.panel.panel-default
  .panel-body
    p This page queries local database, if You see `-mssql` suffix of name this means that mssql database queried.
    ul
    - @bears.each do |name|
      li= name
