h1 Bulls

.post.panel.panel-default
  .panel-body
    p This page queries mssql database, if You don't see `-mssql` suffix of name this means that local database queried.
    ul
    - @bulls.each do |name|
      li= name
