h1 Loqqo

p This is example application which connects to local database (postgres) and external database - mssql, deployed to heroku

p Both local and mssql database have same structure but mssql database has been seeded with "-mssql" suffix added to names. "Bears" page queries localdatabase and names in the list should not contain that suffix. "Bulls" page vice versa queries mssql database and names in the list SHOULD contain suffix.
